body {
    background: darkslategray;
}
h2 {
    color: whitesmoke;
    text-align: center;
}


#galery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-row-1 {
    flex: 1;
    max-width: 100%;
}
.flex-col-4 {
    flex: 1;
    max-width: calc(25% - 5px);
    margin-left: 2px;
    margin-right: 2px;
}
